@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --bg-color: #222831;
  --txt-color: #dddddd;
  --accent-1: #30475e;
  --accent-2: #f05454;
}

h4:hover {
  color: #f05454;
}

body {
  background-color: var(--bg-color);
  color: var(--txt-color);
}